.login-form
  %h2
    ユーザー情報変更
  .container
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :username
        %br/
        = f.text_field :username
      .field
        = f.label :password
        %i (パスワードを変更しない場合は空欄にしてください)
        %br/
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        = f.label :current_password
        %i (現在のパスワードを入力してください)
        %br/
        = f.password_field :current_password, autocomplete: "off"
      .actions
        = f.submit "変更する", class: 'btn btn-success'
  %h3 退会する
  .container
    %p
      退会はこちら #{button_to "退会する", registration_path(resource_name), data: { confirm: "本当によろしいですか？" }, method: :delete, class: 'btn btn-danger'}
  = link_to "戻る", :back
