- @title = 'ユーザー情報'
%h1= @title
%h2= @user.username
- if @user_follow.blank?
  %div= button_to "フォローする", user_user_follows_path(@user), class: "btn btn-success"
- else 
  %div= button_to "フォローを取り消す", user_user_follows_path(@user), method: :delete, class: "btn btn-danger"
= page_entries_info @tips
.container
  = render partial: 'tips/tip', collection: @tips
.paginate
  = paginate @tips
