%header
  %nav.navbar.navbar-default.navbar-fixed-top
    .navbar-header
      .navbar-brand= link_to 'MuraQiita', root_path
    %ul.nav.navbar-nav
      %li.notice= notice
      %li.alert= alert
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li= link_to 'Tips一覧', tips_path
        %li= link_to 'MyPage', mypage_users_path
        %li= link_to 'プロフィール変更', edit_user_registration_path
        %li= link_to 'ログアウト', destroy_user_session_path, method: :delete
        %li.notify
          = link_to notifications_path do
            新着通知
            %span.badge=unread_notifications.count
      - else
        %li= link_to 'Tips一覧', tips_path
        %li= link_to 'サインアップ', new_user_registration_path
        %li= link_to 'ログイン', new_user_session_path
