-@title = "#{@tag.name}を含むtips一覧"
%h1= @title
-### controller 側のレビューコメントにも書きましたが、User#following?(tag) のようなメソッドを定義すれば
-### @tag_follow という変数も必要なくなり、より DRY なコードになると思いました.
- if user_signed_in?
  - if @tag_follow.blank?
    %div= button_to "フォローする", tag_tag_follows_path(@tag), class: "btn btn-success"
  - else
    %div= button_to "フォローを取り消す", tag_tag_follows_path(@tag), method: :delete, class: "btn btn-danger"
= page_entries_info @tips
.container
  = render partial: 'tips/tip', collection: @tips
.paginate
  = paginate @tips



