= form_for @tip do |f|
  .errors
    %ul
      - @tip.errors.full_messages.each do |message|
        %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :tag_list
    = text_field_tag 'tip[tag_list]', @tip.tag_list.join(','), 'data-role' => 'tagsinput'
  #editor.field
    = f.label :content
    = f.text_area :content, 'v-model' => 'input', 'debounce' => '300'
    %div(v-html='input | marked')
  .actions
    = f.submit
