- @title = "feed"
%h1= @title
フォローしているユーザーとタグを含むTips一覧です

= page_entries_info @tips
.container
  = render partial: 'tip', collection: @tips

.paginate
  = paginate @tips
= link_to "新規作成", new_tip_path
