!!!
%html
  %head
    %title MuraQiita2
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -### ここに `wrapper` という ID を付与している意図がよくわかりませんでした.
    #wrapper.container
      = render 'shared/header'
    .container
      = yield
    = render 'shared/footer'
